<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HashDecoder</title>
    <link rel="stylesheet" href="./homest.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Hash Decoder</h1>
        <form id="checker" class="form-container">
            <div class="text">
                <label for="hashed">Hashed Text</label>
                <input type="text" id="hashedt" name="hashedtext" placeholder="Enter hashed text" required>
            </div>
            <button type="submit" id="verifyButton">Decode</button>
        </form>
        <div class="result"></div>
    </div>
    
    <script src="./homejs.js"></script>
</body>
</html>
