<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HashDecoder</title>
    <link rel="stylesheet" href="./homest.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Hash Decoder</h1>
        <form id="checker" class="form-container">
            <div class="text">
                <label for="hashed">Hashed Text</label>
                <input type="text" id="hashedt" name="hashedtext" placeholder="Enter hashed text" required>
            </div>
            <button type="submit" id="verifyButton">Decode</button>
        </form>
        <div class="result"></div>
    </div>
    <div class="container2">
        <h1>Instructions</h1>
        <p>Bcrypt Hashes can never be decoded. Decoding is performed by just comparing all sorts of combinations</p>
        <p>Decoding times depends on Factors Like "Cost Factor" , "Length" , "Combination Pattern" </p>
        <p>Do not Refresh the page while Decoding is in Process</p>
        <p>Too Strong hashed text might take more than 48 hrs to decode</p>
    </div>
    
    <script src="./homejs.js"></script>
</body>
</html>
