<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HashDecoder</title>
</head>
<body>
    Welcome to Hash Decoder
    <form id="checker">
        <div class="text">
            <label for="hashed">Hashed Text</label>
            <input type="text" id="hashedt" name="hashedtext" required>
        </div>
        <button type="submit">Verify</button>
    </form>

    <div class="result"> Waiting ...</div>

    <script src="./homejs.js"></script>
</body>
</html>